:root {
  font-family: sans-serif;
  font-size: 1em;
  color: #008080;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

h2 {
  font-family: inherit;
  font-size: 3rem;
  color: inherit;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
}
label {
  display: inline-flex;
  width: 100%;
  margin-bottom: 1em;
}
input,
textarea,
select {
  margin-left: auto;
}

.textarea_length {
  margin-left: auto;
  margin-top: -10px;
  margin-bottom: 1em;
  font-size: 0.8rem;
}
